@import '../variable/screen';

.post-card-wrapper, .latest-post-wrapper {
    text-align: left;
    background: white;
    padding: 1.25rem;
    margin-bottom: 2rem;

    @media screen and (min-width: $screen-lg) {
        min-height: 23.75rem !important;
        height: 23.75rem !important;
    }
    @media screen and (min-width: $screen-md) {
        min-height: 21.25rem;
        height: 21.25rem;
    }
    
    .image-wrapper {
        position: relative;
        cursor: pointer;

        .feature-image {
            width: 100%;
            @media screen and (min-width: $screen-lg) {
                min-height: 10rem;
            }
        }
        .create-date {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.35rem 0.5rem;
            color: white;
            background-color: #e8bb44;
            font-size: .875rem;
        }
    }
    .post-title {
        padding-top: 1.25rem;
    }
    .description {
        color: #5b5b5b;
        
        p {
            line-height: 1.75rem;
        }
    }
}

.post-card-wrapper.latest-post-wrapper {
    padding: .5rem !important;
    min-height: unset !important;
    height: unset !important;

    .image-wrapper {
        .feature-image {
            min-height: unset;
        }
    }
}