.dropdown-wrapper {
    position: relative;

    .dropdown-menu {
        width: 100%;
        box-shadow: 0.125rem 0.125rem 0.5rem #c5c5c5;
        border: none;
        font-size: 0.875rem;

        .dropdown-item {
            padding: .5rem .5rem;
            cursor: pointer;
            outline: none;
            color: #495057;

            &:active {
                background-color: #54aedf;
                color: white;
            }
        }
    }
    .dropdown-toggle {
        
        &:after {
            position: absolute;
            top: 0.9rem;
            right: 0.75rem;
        }
    }
}

.three-dop-wrapper {
    .dropdown-toggle {
        padding: 0.5rem 0.48rem;
        border-radius: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #f2f2f2;
        }
        &:active {
            background-color: #54aedf;
            color: white;
        }

        &:after {
            content: none
        }
    }
}