.manager-page-wrapper {
    .top-navigation {
        background-color: white;
        height: 4rem;
        box-shadow: 0.25rem 0 1.25rem #d8d8d8;

        .nav-control {            
            .search-box-wrapper {
                position: relative;

                .search-box {
                    border-radius: 3rem;
                    padding-left: 3rem;
                    font-size: 0.875rem;
                    background-color: #f2f2f2;
                    border: none;
                    box-shadow: none;
    
                    &::placeholder {
                        color: #b3b3b3;
                    }
                }

                svg {
                    color: #b3b3b3;
                    top: 0.562rem;
                    left: 1.25rem;
                    position: absolute;
                }
            }
            .btn-add {
                background-color: #499cee;
                color: white;
                border-radius: 3rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                font-size: 0.875rem;
                position: relative;

                svg {
                    top: 0.438rem;
                    left: 1.25rem;
                    position: absolute;
                }
                span {
                    padding-left: 1.5rem;
                }
            }
        }
    }
    .card-container {
        .candy-card {
            margin-top: 4rem;
            min-height: 20rem;
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 0.25rem 0.25rem 1.25rem #d8d8d8;
            padding: 1rem;
            padding-top: 0.5rem;

            .table {
                color: #7b7b7b;

                tr {
                    th, td {
                        padding: 1.25rem;
                        border-top: none;
                        border-bottom: 1px solid #eeeeee;
                        text-align: left;
                        font-size: 0.875rem;
                    }
                    td {
                        border-top: 1px solid #eeeeee !important;
                    }
                    .table-checkbox {
                        width: 1rem;
                    }
                }
            }
        }
    }
}