.global-navigation.navbar {
    background-image: linear-gradient(to right, #489bee, #5fc2cf);
    background-image: -moz-linear-gradient(to right, #489bee, #5fc2cf);
    background-image: -webkit-gradient(to right, #489bee, #5fc2cf);
    background-image: -webkit-linear-gradient(to right, #489bee, #5fc2cf);
    background-image: -o-linear-gradient(to right, #489bee, #5fc2cf);
    background-image: -ms-linear-gradient(to right, #489bee, #5fc2cf);

    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;

    .navbar-brand {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;

    }
    .navbar-nav {
        &:hover {
            outline: none;
        }
        .nav-item {
            .nav-link {
                color: #e0e0e0;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
        .nav-item.active {
            .nav-link {
                color: white;
            }
        }
    }
    .navbar-collapse {
        .user-avatar {
            width: 2.5rem;
            border-radius: 50%;
            border: 1px solid white;
            background-color: white;
            cursor: pointer;
        }
        .dropdown-menu {
            margin-top: 0.75rem;

            &::before {
                content: '';
                position: absolute;
                top: -1.125rem;
                right: 0.688rem;
                width: 0;
                height: 0;
                border: 0.562rem solid transparent;
                border-bottom-color: white;
            }
        }
    }
}