.placeholder {
    color: #a6a6a6;
}

@mixin text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text {
    &-ellipsis {
        @include text_ellipsis();
    }

    &-ellipsis-4 {
        @include text_ellipsis();
        -webkit-line-clamp: 4;
    }
}