@import './util';
@import './longin';
@import './navigation_bar';
@import './user';
@import './sweetalter2';
@import './button';
@import './dropdown';

html > body {
    background-color: #f2f2f2;

    .container-1280 {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    input {
        &:focus {
            outline: none;
        }
    }

    .group-control {
        text-align: left;
        padding-bottom: 1.75rem;
        
        .form-control {
            box-shadow: none;
            font-size: 0.875rem;
            background-color: #f2f2f2;
            border: none;

            &::placeholder {
                color: #a6a6a6;
            }
        }
        label {
            font-size: 0.875rem;
            padding-top: 0.5rem;
        }
        .error-message {
            font-size: 0.75rem;
            color: red;
        }
    }
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.disabled {
    opacity: 0.65;
    cursor: not-allowed !important;
}